<div class="container-fluid">
  <img (click)="setToFr()" style="cursor:pointer;width:2%;margin-left:0%;" src="{{flag_fr}}">
  <img (click)="setToEn()" style="cursor:pointer;width:2%;margin-left:0.5%;" src="{{flag_en}}">
  <br><img style="width:25%;margin-left:37%;" src="{{logo}}">


  <div class="container col-md-8">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-card class="faded-panel">
        <p class="subtitle">
          {{ 'PAGES.HOME.SUBTITLE' | translate }}
        </p>
        <mat-form-field appearance="outline" style="width:40%;margin-left:30%">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="text">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-hint>
            {{ 'PAGES.PASSWORD.EMAIL_HINT' | translate }}
          </mat-hint>
          <mat-error>{{ 'PAGES.PASSWORD.EMAIL_ERR' | translate }}</mat-error>
        </mat-form-field>
      </mat-card>

      <br>
      <button type="submit" class="launch-btn" [disabled]="!resetForm.valid"
        mat-button>{{ 'PAGES.PASSWORD.SEND' | translate }}</button>
    </form>
    <button class="exit-btn" routerLink="/" mat-button>{{ 'PAGES.PASSWORD.BACK' | translate }}</button>

  </div>
</div>