

<div style="width: 100%; height: 100%; background-color: #263238">

  <div style="width: 100%; height: 10%; background-color: #263238; border-bottom: 1px #222222 solid; text-align: center; color: white;">
    <h4 style="padding-top: 5px">{{name}}</h4>
    <span style="padding-bottom: 5px">{{description}}</span>
  </div>

<div style=" height: 89%; width: 100%; display: inline-flex; text-align: center; background-color: white" *ngIf="json">
  <app-blockly [data]=json #blocklyRef></app-blockly>
  <app-phaser [blockly]=blocklyRef [api]="_api" [data]=json></app-phaser>
</div>

</div>
