.exit-btn{
  left:0%;
  background-color:indianred;
  color:white;
}
.back-btn{
  left:0%;
  background-color:cadetblue;
  color:white;
}

//.mat-tab-label.mat-tab-label-active {
//  background-color: #3f51b5!important;
//  color:white!important;
//}