// Import material theming functions
@import "~@angular/material/theming";

.form-step {
    margin: 48px 0 48px 0;
}

.form-step-header {
    transform: translateY(-80%);
    display: inline-flex;
    padding: 0 8px;
}