.container-fluid {
  //background-color: black !important;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../../../assets/game/game-background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;

  .title {
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 20px 10px;
  }

  .subtitle {
    color: #333;
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  .launch-btn {
    width: 200px;
    margin: 50px -100px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: cornflowerblue;
    color: white;
  }

  .signup-btn {
    width: 200px;
    margin: 0px -100px;
    position: relative;
    left: 50%;
    background-color: indianred;
    color: white;
  }

  .faded-panel {
    min-height: 162px;
    background-color: rgba(255, 255, 255, .8);
  }
}