<mat-card>
    <button mat-icon-button [matMenuTriggerFor]="historyMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #historyMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
        <mat-checkbox [checked]="filtered" (change)="displaySuccess()" class="mat-menu-item">
            Afficer tous les status
        </mat-checkbox>
    </mat-menu>
    <mat-table style="margin-left: 3%;" #table [dataSource]="historyDataSource" matSort>
        <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

        <!-- TotalTime Column -->
        <ng-container matColumnDef="totalTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total Time</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.totalTime}}
            </mat-cell>
        </ng-container>

        <!-- AlgoTime Column -->
        <ng-container matColumnDef="algoTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Algo Time</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.algoTime}}</mat-cell>
        </ng-container>

        <!-- Energy Column -->
        <ng-container matColumnDef="energy">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Energie</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.energy}}</mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Status
            </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-card-actions>
        <mat-paginator [pageSize]="5" [hidePageSize]="true">
        </mat-paginator>
    </mat-card-actions>
</mat-card>