<div class="container">
    <img (click)="setToFr()" style="cursor:pointer;width:2%;margin-left:0%;" src="{{flag_fr}}">
    <img (click)="setToEn()" style="cursor:pointer;width:2%;margin-left:0.5%;" src="{{flag_en}}">
    <img (click)="setToEn()" style="cursor:pointer;width:2%;margin-left:0.5%;" src="{{flag_us}}">
  <br><img style="width:25%;margin-left:37%;" src="{{logo}}">
  <h1 class="title">
  </h1>
  <p class="subtitle">
    {{ 'PAGES.HOME.SUBTITLE' | translate }}
  </p>

  <div class="col-md-12">

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" style="margin-left:25%">
        <mat-label>{{ 'PAGES.PASSWORD.NEW_PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'text' : 'password'" type="password" name="password" placeholder="{{ 'PAGES.PASSWORD.PLACEHOLDER' | translate }}">
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint>{{ 'PAGES.PASSWORD.PASSWORD_HINT' | translate }}</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left:10%">
        <mat-label>{{ 'PAGES.PASSWORD.NEW_PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="repeatPassword" type="password" name="repeatPassword" placeholder="{{ 'PAGES.PASSWORD.PLACEHOLDER' | translate }}">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>{{ 'PAGES.PASSWORD.CONFIRM_HINT' | translate }}</mat-hint>
      </mat-form-field>
      <br>
      <!-- -->
      <button type="submit" class="launch-btn" [disabled]="!resetForm.valid" mat-button>{{ 'PAGES.PASSWORD.CONFIRM' | translate }}</button>
    </form>
  </div>
  <button class="exit-btn" routerLink="/" mat-button>{{ 'PAGES.PASSWORD.BACK' | translate }}</button>

</div>